.popup__container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 430px;
    max-height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    border-radius: 10px;
    color: #000000;

}

@media screen and (max-width: 659px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
    }
}