.header {
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: 45px auto 36px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 659px) {
    .header {
        margin: 28px auto 38.25px;
        min-height: 56px;
    }
}